.carousel {
    background: rgb(59, 154, 192);
    border-radius: 0.5rem;

    .carousel-body {
        padding-top: 2rem;
        margin-top: 0.5rem;


        .swipper-slide {
            height: auto;
            border: 1px;
            --tw-border-opacity: 1;
            border-color: rgb(75 85 99 / var(--tw-border-opacity));
            background-color: rgb(11 15 41 / var(--tw-bg-opacity));
            border-radius: 0.5rem;
            overflow: hidden;


            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 0.5rem
            }

        }

        .slider-button-block {
            width: 100%;
            padding: 0 0.25rem;
            gap: 1.5rem;
            padding-top: 0.5rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;


            .slider-button {
                width: 100%;
                padding: 0 0.25rem;
                transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 150ms;
                font-size: 0.875rem;
                line-height: 1.25rem;
                border-radius: 0.25rem;
                width: 2rem;
                height: 2rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                color: black;
                background-color: white;

                &:hover {
                    background-color: rgb(11 15 41);
                    color: white;
                }
            }
        }
    }
}